*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 85%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.fast-area{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.fast-text-area{
    width: 30%;
    height: 300px;
    margin-right: 20%;
}
.fast-img-area{
    width: 45%;
    height: 300px;
}
.h1-area{
    border-left: 4px solid red;
    font-family: 'Libre Baskerville', serif;
    border-radius: 3px;
    font-size: 25px;
    margin-bottom: 20px;
}
.h1-area h1{
    padding:5px;
}
.h1-area h1 span{
    color: rgb(236, 138, 81);
}
.fast-text-area .p1{
    font-size: 13px;
    color: black;
    font-family: sans-serif;
    word-spacing: 2px;
    margin-bottom: 20px;
}
.fast-text-area button{
    background-color: #FF5959;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 3px;
    margin-bottom: 45px;
}
 .img-are2 h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: sans-serif;
}
.img-are2 h1 span{
    color: red;
}
.lilutrator{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.lilutrator1{
    max-width: 350px;
    height: 300px;
    background-color: #EDF5F6;
    border-radius: 20px;
    overflow: hidden;
}
.lilutrator1 img{
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
}
.lilutrator2 img{
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
}
.lilutrator3 img{
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px; 
} 
.lilutrator1 h3{
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
}
.lilutrator2 h3{
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
}
.lilutrator3 h3{
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
}
.lilutrator2{
    max-width: 350px;
    height: 300px;
    background-color: #FFEEEE;
    border-radius: 20px;
}
.lilutrator3{
    max-width: 350px;
    height: 300px;
    background-color: #FFF4D6;
    border-radius: 20px;
} 
.tuiatovejalikn{
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px; 
}
/* next area-------------------------------------------------------------------------- */
.textadd-imges-area3{
    background-image: url("imges/dream-bg.png");
    width: 93%;
    height: 400px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60px;
    display: flex;
    overflow: hidden;
    
}
.textadd-imges-area3 .textadd-imges{
    margin-left: 61px;
    margin-top: 49px;
    width: 35%;
}
.textadd-imges-area3 .textadd-textarea{
    width: 35%;
    margin-top: 80px;
    font-family: 'Libre Baskerville', serif;
    
}
.textadd-textarea h1{
    padding: 5px 0px;
}
.textadd-textarea p{
    margin-top: 20px;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.textadd-textarea button{
    padding: 12px 35px;
    color: white;
    font-size: 15px;
    background-color: #FF5959;
    font-family: sans-serif;
    outline: none;
    border: none;
    border-radius: 5px;
}