*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 85%;
    margin: auto;
    height: 200vh; 
    background-color: antiquewhite;  
    overflow: hidden;
}
.section-one{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.fast-text-area{
    border-left: 4px solid red;
    border-radius: 3px;
}